// FONTS
$primary-font: "Roboto", sans-serif;

// FONT SIZE
$primary-font-size: 1rem;
$secondary-font-size: 0.85rem;
$tertiary-font-size: 0.75rem;

// COLORS
$primary-title-color: rgb(255, 251, 251);
$primary-background-color: white;
$primary-message-text-bg-color: #e8eae3;
$secondary-message-text-bg-color: #2864f1;
$primary-modal-bg-color: #ffee00;
$secondary-modal-bg-color: #a8a3a366;
$primary-message-text-color: black;
$secondary-message-text-color: white;
$primary-username-color: #585656;
$primary-time-color: #585656;
$primary-border-color: #00000033;
$members-list-color: #00000033;
$members-container-bg-color: #f2f5fd;
$loader-color: black;
$scrollbar-color: #c2c9d2;

// BOX WIDTH & HEIGHT
$chat-container-width: 550px;
$chat-container-height: 550px;
$input-container-height: 35px;

// BORDER RADIUS
$primary-border-radius: 10px;
$secondary-border-radius: 40px;
$tertiary-border-radius: 5px;
